@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $value in $sides {
      @if ($value == "all") {
        .border#{$infix} {
          border: $border-width solid $gray-base !important;
        }
      }

      @else {
        .border#{$infix}-#{$value} {
          border-#{$value}: $border-width solid $gray-base !important;
        }
      }
    }

    @each $value in $sides {
      @if ($value == "all") {
        .border#{$infix}-light {
          border: $border-width solid $light !important;
        }
      }

      @else {
        .border#{$infix}-#{$value}-light {
          border-#{$value}: $border-width solid $light !important;
        }
      }
    }

    @each $value in $sides {
      @if ($value == "all") {
        .border#{$infix}-white {
          border: $border-width solid $white !important;
        }
      }

      @else {
        .border#{$infix}-#{$value}-white {
          border-#{$value}: $border-width solid $white !important;
        }
      }
    }
  }
}
