.ImageShow {

  &_bg {
    z-index: 100;
  }

  &_img {
    z-index: 101;
    height: 90%;
    transition: 0.75s;
    transform: scale(1.1);
    opacity: 0;
  }

  &_img__show {
    transform: scale(1)!important;
    opacity: 1;
  }
}
