.markersBlock {
  &_label {
    margin: 0;
    padding: 6px 17px;
    line-height: 1em;
    background: linear-gradient(180deg, rgba(255,214,99,1) 0%, rgba(255,197,37,1) 100%);
    border-radius: 5px;
    cursor: pointer;
  }

  &_marker {
    transition: 0.3s;

    &__checked {
      opacity: 0.5;
    }
  }

  &_leftCorner {
    position: relative;
    top: -7px;
    left: 0;
  }

  &_rightCorner {
    position: relative;
    top: -7px;
    right: calc(-100% + 16px);
  }
}
