.VacanciesList {
  :nth-child(n) {
    z-index: 51;
  }
  :first-child {
    z-index: 50;
  }

  &_btnContainer {
    position: absolute;
    transform: rotate(-90deg);
    left: -240px;
    top: 30px
  }

  &_content {
    transition: 0.5s;
    transform: scale(0.8);
    opacity: 0;

    &__show {
      transform: scale(1)!important;
      opacity: 1;
    }
  }

  &_table {
    height: 650px;
    overflow-y: scroll;
    padding-right: 25px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #42403a;
      border-radius: 20px;
      border: 9px;
      border-color: black;

    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffe59d;
      border-radius: 15px;
      border: 1px;
    }
  }


}
