@font-face {
  font-weight: normal;
  font-family: 'Montserrat';
  src: url('../../../public/fonts/Montserrat-Regular.ttf');
}
//
@font-face {
  font-weight: bold;
  font-family: 'Montserrat';
  src: url('../../../public/fonts/Montserrat-SemiBold.ttf');
}
//
//@font-face {o
//  font-weight: normal;
//  font-family: 'Arial';
//  src: url('../fonts/Arial/arial.ttf');
//}
//
//* {
//  overflow: hidden;
//}

body {
  width: 1920px;
  height: 1080px;

  overflow: hidden;
  background-color: black;

  font-family: Montserrat;
  color: $primary;

  /**
 * Для эксплорера
 */
  -ms-user-select: none;

  /**
   * Для мозилы
   */
  -moz-user-select: none;

  /**
   * Для конкверора
   */
  -khtml-user-select: none;

  /**
   * Для Сафари и Хрома
   */
  -webkit-user-select: none;

  user-select: none;

  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  text-size-adjust:none;
}

#root {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.App {
  height: inherit;
  width: inherit;
  position: relative;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  margin-bottom: 0.5rem;
}

textarea {
  resize: none;
}
