@font-face {
  font-weight: normal;
  font-family: 'Montserrat';
  src: url('../../../public/fonts/Montserrat-Regular.ttf');
}
//
@font-face {
  font-weight: bold;
  font-family: 'Montserrat';
  src: url('../../../public/fonts/Montserrat-SemiBold.ttf');
}
//
//@font-face {o
//  font-weight: normal;
//  font-family: 'Arial';
//  src: url('../fonts/Arial/arial.ttf');
//}
//
//* {
//  overflow: hidden;
//}

body {
  width: 1920px;
  height: 1080px;

  overflow: hidden;
  background-color: black;

  font-family: Montserrat;
  color: $primary;

  //font-size: 16px;

  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  text-size-adjust:none;
}

#root {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.App {
  height: inherit;
  width: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.one-stroke {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-primary {
  color: $primary!important;
}

.text-dark {
  color: $dark!important;
}

.text-danger {
  color: red!important;
}

//.border-primary {
//  border-color: $primary;
//}

.fs-0 {
  font-size: 4.5rem!important;
}
