.NewsItemBlock {
  &_carouselContainer {
    overflow: hidden;
    top: 40px!important;
  }

  &_carouselDots {
    fill: #ffe59d!important;
    padding: 1px 10px;

    svg {
      width: 12px;
      height: 12px;

      circle {
        r: 6;
        cx: 6;
        cy: 6;
      }
    }
  }

  &_carouselDotsContainer {
    top: 40px!important;
    right: 10px;
  }
}
